name: %extension-prefix%%extension-name%
version: 0.0.1
minDynatraceVersion: "1.285"
author:
  name: "Dynatrace"

python:
  runtime:
    module: %extension_name%
    version:
      min: "3.10"

  activation:
    remote:
      path: activationSchema.json
    local:
      path: activationSchema.json
